/* Licenced under the SIL Open Font License, Version 1.1, see License.txt in this folder */
@font-face {
    font-family: 'bebas';
    src: url('BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}